n8n_agent_http_version.json
{
    "name": "Olinshop Support Agent (HTTP Version)",
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "whatsapp"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyDxmoCXt87HDkmrjOJHm5wFqTK_9GOLMuU",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Você é um assistente de suporte para Olindelivery e Olinshop. Responda de forma amigável e profissional.\\n\\nMensagem do cliente: {{ $json.body.payload.body }}\"\n    }]\n  }]\n}",
                "options": {}
            },
            "id": "gemini-api",
            "name": "Google Gemini API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\nconst aiText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    chatId: $('Webhook WhatsApp').item.json.body.payload.from,\n    text: aiText\n  }\n};"
            },
            "id": "extract-response",
            "name": "Extract AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waha:3000/api/sendText",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
                "options": {}
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Google Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini API": {
            "main": [
                [
                    {
                        "node": "Extract AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract AI Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    }
}